appnope==0.1.0
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
awsebcli==3.14.11
bleach==2.1.1
blessed==1.15.0
botocore==1.12.93
cached-property==1.5.1
cement==2.8.2
certifi==2017.11.5
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.3.9
constantly==15.1.0
cryptography==2.4.2
cssselect==1.0.3
cycler==0.10.0
decorator==4.1.2
Django==2.2.10
docker==3.7.0
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
Flask==1.0.2
html5lib==1.0.1
hyperlink==18.0.0
idna==2.7
image==1.5.27
incremental==17.5.0
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.11.0
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-core==4.4.0
jupyterlab==0.30.6
jupyterlab-launcher==0.6.0
lxml==4.2.5
MarkupSafe==1.0
matplotlib==1.5.1
mistune==0.8.1
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.4
notebook==5.2.2
numpy==1.11.0
pandas==0.18.0
pandocfilters==1.4.2
parsel==1.5.1
parso==0.1.1
pathspec==0.5.5
pexpect==4.3.0
pickleshare==0.7.4
Pillow==5.3.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.2.0
PyHamcrest==1.9.0
pymongo==3.7.2
pyOpenSSL==18.0.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.13
pyzmq==16.0.3
queuelib==1.5.0
requests==2.20.1
scikit-learn==0.17.1
scipy==1.0.0
Scrapy==1.5.1
semantic-version==2.5.0
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
textblob==0.15.2
texttable==0.9.1
tornado==4.5.2
traitlets==4.3.2
Twisted==18.9.0
urllib3==1.24.1
w3lib==1.19.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
Werkzeug==0.14.1
zope.interface==4.6.0
